## <font color = purple> Twitter Sentiment Analysis </font>

In [2]:
# import libraries
import os 
import pandas as pd
import nltk

In [5]:
# Read the data
df = pd.read_csv("twitter_training.csv", header = None)
df.columns = ['#', 'Refers to', 'Sentiment', 'Text']
df.head()

,#,Refers to,Sentiment,Text
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [6]:
# Checking for nulls
df.isnull().sum()

#              0
Refers to      0
Sentiment      0
Text         686
dtype: int64

In [44]:
# Remove nulls
df.dropna(inplace=True, axis=0)
df.head()
df.shape

(73996, 4)

In [45]:
# Word tokenization using nltk
from string import punctuation
stop = nltk.corpus.stopwords.words('english') + list(punctuation)
from nltk.stem import WordNetLemmatizer

In [46]:
# Cleaning the text data
def cleaner(sentence):
    # tokenize the text
    clean = nltk.word_tokenize(sentence)
    # remove stopwords
    clean = [i for i in clean if not i in stop]
    # lemmatize
    lemmatizer = WordNetLemmatizer()
    clean = [lemmatizer.lemmatize(i) for i in clean]
    
    return " ".join(clean)

cleaner(df[3][0])

df[3] = list(map(cleaner, df[3]))
df.head()

      0            1         2                               3
0  2401  Borderlands  Positive    im getting borderland murder
1  2401  Borderlands  Positive          I coming border I kill
2  2401  Borderlands  Positive      im getting borderland kill
3  2401  Borderlands  Positive     im coming borderland murder
4  2401  Borderlands  Positive  im getting borderland 2 murder

In [47]:
df[3].head()

0      im getting borderland murder
1            I coming border I kill
2        im getting borderland kill
3       im coming borderland murder
4    im getting borderland 2 murder
Name: 3, dtype: object

In [48]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

In [49]:
x = df[3]
y = df[2]

In [50]:
# vectorize the data
vector = CountVectorizer()
X = vector.fit_transform(x)
print(vector.get_feature_names_out())
X.toarray()

dy = pd.DataFrame(X.toarray(), columns = vector.get_feature_names_out())
dy.head()

['00' '000' '00011' ... 'การออกอากาศของฉ' 'นจาก' 'ℐℓ٥']

,00,000,00011,00014,00015,00016,00054,00105,00107,00303,...,اللعبه,حبيت,خلاص,عبر,فيديو,٥υ,घरच,การออกอากาศของฉ,นจาก,ℐℓ٥
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
# train test split
x_train, x_test,y_train,y_test = train_test_split(X,y)
model =  MultinomialNB()
model.fit(x_train,y_train)

MultinomialNB()

In [54]:
pred = model.predict(x_test)
print(accuracy_score(pred, y_test))

0.751283853181253

In [ ]:
john = "you are ugly" HGH